
div(style='float:left; width:250px;')
	ul
		for article in articles
			li
				a(href='/article/' + article._id)=article.headline
div(style='float:left; width:600px;padding:20px')
	a(href='/') Index
	h1=article.headline
	h3=article.lead
	p
		a(href=article.url)=article.url
	time=article.pubdate

	p=article.body
div(style='float:left; width:200px')
	if article.similar != null
		ul
			for similar in article.similar
				if similar.similarity > 0.8
					li
						a(href='/article/' + similar._id)=similar.headline + '(' + similar.similarity + ')'
		